<h2><i class="fa fa-user"></i>&nbsp; Profile</h2>

<div class="row">
    <div class="col-md-3">
        <section class="widget">
            <div class="body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="text-align-center">
                                <img class="img-circle" src="/Content/img/2.jpg" alt="64x64" style="height: 112px;">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h3 class="no-margin">{{profileData.name}}</h3>
                            <address>
                                <abbr title="Username"> username:</abbr> {{profileData.username}} <br/>
                                <abbr title="Work email">e-mail:</abbr> <a href="mailto:#">{{profileData.email}}</a><br/>
                                <abbr title="Work Phone">phone:</abbr> (123) 456-7890
                            </address>
                        </div>
                    </div>
                </div>
        </section>
    </div>

    <div class="col-md-9">
        <section class="widget">
            <div class="body" style="height:300px;">
               
            </div>
        </section>
    </div>