<h2 class="page-title"><i class="fa fa-list-alt"></i>&nbsp;Accounts <small>and overview</small></h2>
<div class="actions">
    <button class="btn btn-transparent btn-xs" ng-click="showAddTransaction=!showAddTransaction">New Transaction &nbsp;<i class="fa fa-plus"></i></button>
</div>

<div class="row">
    <div class="col-md-10">
        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th>Account</th>
                    <th>Category</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th style="width:5%;">Reconciled</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="transaction in recentTransactions[overview.accountId].transactions" ng-class="transaction.isDeposit ? 'color-green' : 'color-red'" style="
                            background-color: rgba(51,51,51,0.25); border-bottom: 1px solid;">
                    <td>{{ transaction.accountName }}</td>
                    <td>{{ transaction.category }}</td>
                    <td>{{ transaction.date | date }}</td>
                    <td>{{ transaction.amount | currency : '$' }}</td>
                    <td style="padding-right:25px; font-size:18px;">
                        <i ng-if="transaction.isReconciled" class="fa fa-check pull-right"></i>
                        <i ng-if="!transaction.isReconciled" class="fa fa-times pull-right"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2">
        <form name="newAccount" ng-show="showAddTransaction">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <td colspan="2">
                            <h4>New Transaction</h4>
                        </td>
                    </tr>
                </thead>
                <tbody style="background-color: rgba(51,51,51,0.25); border-bottom: 1px solid;">
                    <tr>
                        <td>
                            <!--Add server validation token here-->
                            <input hidden />
                            <label class="label">Name</label>
                        </td>
                        <td class="text-align-right">
                            <input type="text" name="newAccount.name" ng-model="newAccount.name" /><br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="label">Amount</label>
                        </td>
                        <td class="text-align-right">
                            <input type="number" step=".01" name="newAccount.initialBalance" ng-model="newAccount.initialBalance" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button ng-click="postNewAccount(1)" class="btn btn-primary pull-right" ng-disabled="newAccount.$invalid || newAccount.name == null || newAccount.initialBalance == null">Submit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>